**/.DS_Store
**/**pycache**
**/.venv
**/.classpath
**/.dockerignore
**/.env*
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/bin
**/charts
**/docker-compose*
**/compose.y*ml*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
LICENSE
README.md
**/.github
docs
eslint.config.js
.editorconfig
db
