# For development

services:
  server:
    build:
      context: .
    environment:
      - DISCORD_TOKEN=[DISCORD_TOKEN]
      - HASHNAME=[HASHNAME]
      - SALT=[SALT]
      - ITER=[ITER]
    volumes:
      - abeille-data:/usr/src/app/db
    develop:
      watch:
        - action: sync+restart
          path: .
          target: /usr/src/app
          ignore:
            - .vscode
volumes:
  abeille-data:
