services:
  abeille:
    image: actionbrk/abeille
    container_name: abeille
    environment:
      - DISCORD_TOKEN=${DISCORD_TOKEN}
      - OWNER_ID=${OWNER_ID}
      - HASHNAME=${HASHNAME}
      - SALT=${SALT}
      - ITER=${ITER}
      - LOG_LEVEL=info
    volumes:
      - abeille-data:/usr/src/app/db
    restart: unless-stopped

volumes:
  abeille-data:
